:root {
  /* COLORS */
  --color-faded: #b1b1b1;

  /* TEXT-COLORS */
  --text-primary: #000000;
  --text-secondary: #525252;

  /* TEXT SIZES */
  --text-size-username: 16px;
  --text-size-meta: 12px;
}

/* GENERAL */
html,
body,
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body,
#root {
  width: 100%;
  height: 100%;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.App {
  width: 100%;
  height: 100%;
}

/* DISPLAY */
.flex {
  display: flex;
}
.flex-col {
  flex-direction: column;
}
.align-center {
  align-items: center;
}
.justify-center {
  justify-content: center;
}

/* FLEX MARGINS */
.gap-5 {
  gap: 5px;
}
.gap-10 {
  gap: 10px;
}
.gap-15 {
  gap: 15px;
}

/* PADDINGS */
.p-1 {
  padding: 10px;
}
.px-1 {
  padding-right: 10px;
  padding-left: 10px;
}
.p-2 {
  padding: 20px;
}

.pt-2 {
  padding-top: 20px;
}

.py-2 {
  padding-top: 20px;
  padding-bottom: 20px;
}

.mx-1 {
  margin: auto 10px;
}

input {
  width: 100%;
  height: 48px;
  border: none;
  font-weight: 700;
}

input::placeholder {
  color: var(--color-faded);
}

.chat-container {
  z-index: 1;
  position: relative;
  flex: 1 1 100%;
  overflow-y: scroll;
}

.inputs-container {
  position: relative;
  flex: 0 0;
  min-width: fit-content;
}

.scrollTo {
  background: transparent;
}

.chat-container::before,
.inputs-container::before {
  z-index: 2;
  content: "";
  top: 0;
  left: 0;
  right: 0;
  height: 40px;
}

.chat-container::before {
  position: fixed;
  background: linear-gradient(
    to top,
    rgba(255, 255, 255, 0) 30%,
    rgba(255, 255, 255, 1) 85%
  );
}

.inputs-container::before {
  height: 20px;
  transform: translateY(-100%);
  position: absolute;
  background: linear-gradient(
    to bottom,
    rgba(255, 255, 255, 0) 30%,
    rgba(255, 255, 255, 1) 85%
  );
}
